# Ignorar todos los archivos .log
*.log
*.csv

# Ignorar todos los archivos .json
*.json




# Ignorar directorios de dependencias
node_modules/
vendor/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de IDE
.idea/
.vscode/y
*.rules
sml.rules
# Ignorar todo en backend/models
backend/models/